<!-- Ceremony Start -->
<div class=container>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<h1>Ceremony</h1>
			<p>The ceremony and reception will be held 28 miles south of downtown Nashville at The Barn at Sycamore Farms. The ceremony will be held outdoors (weather permitting) while dinner and reception will be inside. For more information on the venue, visit the <a href="{{ site.links.sycamore }}" target='_blank'>Sycamore Farms website</a>.</p>
			<div class="diamondswrap">
			    <p class="item blank" id="sq1"></p>
			    <a href="http://sycamorefarmsevents.com/" target="_blank" id="sq2" class="item"></a>
			    <p id="sq3" class="item"></p>
			    <p id="sq4" class="item"></a>
			    <a href="http://sycamorefarmsevents.com/" target="_blank" id="sq5" class="item"></a>
			    <p id="sq6" class="item bigd"></p>
			    <p id="sq7" class="item"></p>
			    <p class="item blank" id="sq8"></p>
		    </div>			
			<!--<a href="{{ site.links.sycamore }}" target='_blank'>
				<h3 class='link-title'>The Barn at Sycamore Farms</h3>
				4866 Murfreesboro Rd. Arrington, TN 37014
			</a>-->
	    </div>
	</div>
</div>
<!-- Ceremony End -->