<!-- Lodging Start -->
<div class=container>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<h1>Lodging</h1>
			<p>For those coming from out of town (everyone), we have arranged for group discounts at 3 hotels in Franklin, about 15 minutes away from the venue and 20 minutes from downtown Nashville. We will provide shuttle transportion between the hotel area and the venue on the wedding day.</p>

			<p><strong>If the hotel links won't let you select the dates you want or you have any other problems booking, please let us know</strong></p>
	    	{% for l in site.data.lodging %}
				<a href="{{ l.url }}" target="_blank">
					<div class="row split-row">
							<div class="row-copy">
								<img class="row-image img-circle" src="/img/{{ l.img }}"/>
							</div>
							<div class="row-copy">
								<h3 class="link-title">{{ l.name }}</h3>
								<p>{{ l.description }}</p>
								<p><strong>{{ l.code }}</strong></p>
							</div>
					</div>
				</a>
			{% endfor %}
	    </div>
	</div>
</div>
<!-- Lodging End -->

