
<!-- About Start --> 
  <script type="text/javascript" src="{{site.baseurl}}/js/guest-suggestions.js"></script>
  <link href="{{site.baseurl}}/css/contact-form.css" rel="stylesheet">
  <a name="mailing"></a>
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>Mailing Info</h2>
        <p class="mailingBlurb">Hey, we want to send you an invitation eventually. Help us out by filling out your mailing address so we can be sure we're sending that invite to the right place!</p>
        <div class="ui-widget contact-form">
          <div id="guest-name-section" class="form-section">
            <h3> Name </h3>
            <p>Look up your name in the guest list</p>
            <input class="form-field address-form-field field-enabled" type="text" id="guest-name" list="guest-datalist" placeholder="Find your name">
  		      <datalist id="guest-datalist"></datalist>
          </div>

          <div class="form-section hideable">
            <h3> Email</h3>
            <p>Where can we send info and updates?</p>
            <input class="form-field address-form-field secondary-form-field" type="text" id="email" placeholder="Email" disabled>
          </div>

          <div class="form-section hideable">
            <h3> Address</h3>
            <p>Where should we send your invitation?</p>
            <input class="form-field address-form-field secondary-form-field" type="text" id="address1" placeholder="Address 1" disabled>
            <input class="form-field address-form-field secondary-form-field" type="text" id="address2" placeholder="Address 2" disabled>
            <input class="form-field address-form-field secondary-form-field" type="text" id="city" placeholder="City" disabled>
            <input class="form-field address-form-field secondary-form-field" type="text" id="state" placeholder="State" disabled>
            <input class="form-field address-form-field secondary-form-field" type="text" id="zip" placeholder="Zip" disabled>
            <input class="form-field address-form-field secondary-form-field" type="text" id="country" placeholder="Country" disabled>
          </div>
        </div>
        <button id="submit-address" class="hideable" disabled>Save Information</button>
      </div>
  </div>
  <div class="cd-popup" role="alert">
    <div class="cd-popup-container">
      <p class="cd-message"></p>
      <a href="#0" class="cd-popup-close img-replace"> </a>
    </div> <!-- cd-popup-container -->
  </div> <!-- cd-popup -->
<!-- About End -->