	<!-- Photos Start -->
<div class=container>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<h1>Photos</h1>
			<div class="detail-container row split-row">
				<div class="row-copy">
					<img class="row-image img-circle" src="/img/wedding-day.jpg"/>
				</div>
				<div class="row-copy">
					<p>Thanks everyone for coming!</p>

					<p>We've created a google photos album to be able to share each other's photos of the night.</p>
					
					<p>We would sooo appreciate if you would dump all of your pictures in the album for everyone to see and share!</p>

					<p>We'll also put our professional photos in there too when we receive them.</p>

					<div class="section-header">
						<h3 >
							<a class="unstylized sub-header" href="https://choicolateicecrimi.us16.list-manage.com/track/click?u=5dd5bee7b865777fc97756538&id=353b60240c&e=25abe52908" target="_blank">Google Photos Wedding Album</a>
						</h3>
					</div>
				</div>
				
			</div>
	    </div>
	</div>
</div>
<!-- Photos End -->

