	<!-- Proposal Start -->
<div class=container>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<h1>The Proposal</h1>
			<div class="detail-container row split-row">
				<div class="row-copy">
					<img class="row-image img-circle" src="/img/proposal.jpg"/>
				</div>
				<div class="row-copy">
					<p>Melissa and Kevin got engaged in New Orleans at the end of an all-day scavenger hunt that Kevin made for Melissa that had them eating, drinking, and solving clues throughout the city.</p>

					<p>Since the two have a history of making scavenger hunt puzzles for each other (so nerdy, I know), Melissa followed the clues of what she thought was her Christmas present, not knowing what waited for her at the end.

					<p>From a voodoo shop fortune teller, to a spinning carousel bar, to a Venetian gondola ride, Melissa solved the clues in the app Kevin made for her, until the final twist: an engagement ring pulled out of AR (augmented reality) ring pops! </p>

					<div class="section-header">
						<h3 >
							<a class="unstylized sub-header" href="http://proposal.kevincrimi.com" target="_blank">Read the Whole Story</a>
						</h3>
					</div>
				</div>
				
			</div>
	    </div>
	</div>
</div>
<!-- Proposal End -->

