---
---
<!-- Recommendations Start -->
<section id="{{ category.name }}" class="content-section">
	<div class=container>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h1>Nashville Recommendations</h1>
				<p> We've gathered some good suggestions for how you can spend your time in Nashville below. If you want, you can also download a copy of the list <a href='/assets/nashville-recommendations.pdf'>here</a></p>
				{% for category in site.data.recommendations %}
					<h3>
						 <a class="page-scroll" href="#{{ forloop.index0 }}"> {{ category.name }} </a> 
					</h3>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% for category in site.data.recommendations %}
	<section id="{{ forloop.index0 }}" class="content-section {% cycle 'even', ''%}">
		<div class=container>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
		    		<h2>{{ category.name }}</h2>
		    		{% for place in category.places %}
							<div class="row-copy">
								<a href="{{ place.url }}">
									<h3 class="link-title unstylized">{{ place.name }}</h3>
								</a>
								<p>{{ place.description | markdownify }}</p>
							</div>
					{% endfor %}
			    </div>
			</div>
		</div>
	</section>
{% endfor %}
<!-- Recommendations End -->