---
---
<!-- Recommendations Start -->
<section id="{{ category.name }}" class="content-section recs rec-head">
	<div class=container>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h1>Nashville Recommendations</h1>
				<p> We've gathered some recommendations for things to do while you're in Nashville. If you want, you can also download a copy of the list <a href='/assets/nashville-recommendations.pdf' target="_blank">here</a>.</p>
				<div class="diamondswrap">
					{% for diamond in site.data.diamonds.recommendations %}
						{% if diamond.blank %}
							<p class="item blank"></p>
						{% else %}
							{% if diamond.url %}
								<a href="{{diamond.url}}" class="page-scroll item" style="background-image: url({{ diamond.img }});">
									{% if diamond.text %}
										<h3>{{ diamond.text }}</h3>
									{% endif %}
								</a>
							{% else %}
							<div class="item" style="background-image: url({{ diamond.img }});">
							</div>
							{% endif %}
						{% endif %}
					{% endfor %}
			    </div>
			</div>
		</div>
	</div>
</section>
{% for category in site.data.recommendations %}
	<section id="{{ forloop.index0 }}" class="content-section recs {% cycle 'even', ''%}">
		<div class=container>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
		    		<h2>{{ category.name }}</h2>
		    		{% for place in category.places %}
							<div class="row-copy">
								<a href="{{ place.url }}" target="_blank">
									<h3 class="link-title unstylized">{{ place.name }}</h3>
								</a>
								{{ place.description | markdownify }}
							</div>
					{% endfor %}
			    </div>
			</div>
		</div>
	</section>
{% endfor %}
 
<section id="rec-map">
	<!--<div class="container">
		<div class="row">
		<h3>Map Key</h3>
	<div><div class="key" id="blue"></div> <span>Eat</span></div>
	<div><div class="key" id="pink"></div> <span>Music & Bars</span></div>
	<div><div class="key" id="yellow"></div> <span>Things to Do</span></div>
	<div><div class="key" id="black"></div> <span>Key Locations</span></div>
		</div>
	</div>-->
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1wB-H0GcnFiJy3cZVPWDxgVce0VquX-ju" width="100%" height="480"></iframe>
</section>
<!-- Recommendations End -->