<!-- Registry Start -->
<div class=container>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<h1>Registry</h1>
			<div class="detail-container row split-row">
				<div class="row-copy">
					<img class="row-image img-circle" src="/img/storefront.jpg"/>
				</div>
				<div class="row-copy">
					<p>If you wish to get us a wedding gift, we thank you in advance, and so appreciate it! Because space is at a premium in our New York City apartment, we've created a limited gift registry at Zola.  </p>
					<p>Since the list is small, if you'd like to give a gift other than a physical commodity, we'd appreciate help saving for our future (a home... travels... children... or whatever adventures may come our way)! There is an option on Zola or you can use our <a href="https://www.paypal.me/MelissaChoi" target="_blank">PayPal</a> link to avoid credit card fees.</p>
					<div class="section-header">
						<h3 >
							<a class="unstylized sub-header" href="https://www.zola.com/registry/kevinandmelissa2018" target="_blank">Zola Registry</a>
						</h3>
					</div>
				</div>
				
			</div>
	    </div>
	</div>
</div>
<!-- Registry End -->