<!-- Registry Start -->
<div class=container>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<h1>Registry</h1>
			<div class="detail-container">
				<p> Because space is at a premium in our New York City apartment, we've created a limited gift registry at Zola you can access here.</p>

				<div class="section-header">
					<h3 >
						<a class="unstylized sub-header" href="https://www.zola.com/registry/kevinandmelissa2018" target="_blank">Zola Registry</a>
					</h3>
				</div>

				<p> If you'd like to give a gift that is not on the list there is an option to help us save for our future (a home... travels... children... or whatever adventures may come our way)!</p>

				<p>If you have PayPal and would like to avoid the credit card fee, you can also contribute through our <a href="https://www.paypal.me/MelissaChoi" target="_blank">PayPal</a>
				</p>
				
			</div>
	    </div>
	</div>
</div>
<!-- Registry End -->