
<!-- RSVP Start --> 
<div class=container> 
  <link href="{{site.baseurl}}/css/contact-form.css" rel="stylesheet">
  <a name="rsvp"></a>
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1>RSVP</h1>
        <div class="ui-widget contact-form">
          <div id="guest-name-section" class="form-section">
            <h3> Name </h3>
            <p>Look up your name in the guest list</p>
            <input class="form-field address-form-field field-enabled guest-name" type="text" id="rsvp-guest" list="rsvp-datalist" placeholder="Find your name">
  		      <datalist id="rsvp-datalist" class="guest-datalist"></datalist>
          </div>

          <div class="form-section hideable rsvp-section">
            <h3>Guests</h3>
            <p>Who will be attending the wedding?</p>
            <ul id="guests-list">
            </ul>
            <h3>Menu</h3>
            <ul id="menu-list">
            </ul>
            <div class="hideable welcome-event">
              <p>Would you like to join us for a welcome drinks the day before the wedding at <a href="http://www.sinemanashville.com/the-lounge/" target="_blank">Sinema</a>(May 11th)?</p>
            </div>
          </div>

        </div>
        <button id="submit-rsvp" class="hideable" disabled>Submit RSVP</button>
      </div>
  </div>
  <div class="cd-popup" role="alert">
    <div class="cd-popup-container">
      <p class="cd-message"></p>
      <a href="#0" class="cd-popup-close img-replace"> </a>
    </div> <!-- cd-popup-container -->
  </div> <!-- cd-popup -->
</div>
<!-- About End -->