
<!-- Upcoming Shows Preview Start -->

{% capture bannerTextures %} {{site.banner-texture | size}} {% endcapture %}

<section id="{{ page.title }}" class="container content-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        {{ "## upcoming shows" | markdownify }}

        {% assign future_shows = false %}
        {% capture currentDate %}{{site.time | date: '%F'}}{% endcapture %}
        {% assign month = null %}
        {% assign monthCount  = 0 %}
        {% for post in site.posts reversed %}
          {% capture showDate %}{{post.date | date: '%F'}}{% endcapture %}
          {% if showDate >= currentDate %}
            {% capture showMonth %}{{post.date | date: '%B'}}{% endcapture %}
            {% if month != showMonth %}
              {% assign t = monthCount | modulo: bannerTextures %}
              <div class="theme-background" style="background-image: url(
                {{ site.banner-texture[t].url }})">
                <h3 class="banner-header">{{showMonth}}</h3>
              </div>
              {% assign month = showMonth %}
              {% assign monthCount = monthCount | plus:1 %}
            {% endif %}
            {% assign future_shows = true %}
            <h4> <strong> {{ post.date | date_to_string }} {{post.set-time}} </strong>
              <small>. {{ post.location }} .</small>
              <strong> <a href="{{ post.url }}">
                {% if post.event %}
                  {{post.event}} at {{post.venue}}
                {% else %}
                  {{post.venue}}
                {% endif %}
               </a> </strong>
              <small> <i> w / </i> <a href="{{post.artist-url}}"> {{post.artist}} </i> </a></small>
            </h4>
          {% endif %}
        {% endfor %}

        {% if future_shows == false %}
          <h4> 
            <strong> Sorry, no upcoming shows. Stay tuned! </strong>
          </h4>
        {% endif %}

        <a href="{{site.baseurl}}/past-shows"><h4><strong>View past shows</strong></h4></a>

      </div>
    </div>
</section>

<!-- Upcoming Shows Preview End -->
