
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    {% include header.html %}
    
    {% for p in site.pages_list %}
    	<section id="contact" class="container content-section text-center {% cycle '', 'even'%}">
    		{% include {{p.name}}.html %}
    	</section>
    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
