
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    {% include header.html %}
    
    {% for p in site.pages_list %}
    	<section id="{{ p.name }}" class="content-section {% cycle '', 'even'%}">
    		{% include {{ p.name }}.html %}
    	</section>
    {% endfor %}

  </body>
  
  {% include js.html %}
</html>

<!-- Index Layout End -->
