
<!-- Show Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {% include navigation.html %}

    <section id="{{ page.title }}" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <h1><strong>
            {% if page.event %}
              {{ page.event }} <small> at </small>
            {% endif %}
            <a href = "{{page.venue-url}}"> {{page.venue}}</a>
            <small> ({{page.location}}) </small>
          </strong></h1>
          
          <h4><a href="{{page.artist-url}}"> <small>with</small> {{page.artist}} </a></h4>

          <h3>
            <strong>
              {{ page.date | date_to_string }} &#8226; {{page.set-time}} 
              {% if page.price %}
                &#8226; {{page.price}}
              {% endif %}
            </strong>
          </h3>

          {{ page.content | markdownify }}

          {% for image in page.images %}
            <img class="show-image" src="{{image}}">
          {% endfor %}

          {% include share.html %}

        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Show Layout End -->
